<a href="https://colab.research.google.com/github/lmu-cmsi1010-fall2021/lab-notebook-originals/blob/main/Charts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reference: This notebook was borrowed from Berkeley's Data 8 course: https://www.youtube.com/watch?v=UlrQHFt2mDQ&feature=youtu.be&t=323

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

## Actor data ##

In [ ]:
actors = Table.read_table('https://raw.githubusercontent.com/data-8/textbook/gh-pages/data/actors.csv')
actors.show()

## Scatter Plots ##

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')
# TODO: Now what trend do we see?

In [ ]:
# TODO: How do we find the actor on the far right? (Make a guess!)
actors.where('Number of Movies', are.above(75))

In [ ]:
# TODO: How do we find the actor on the far left?
actors.where('Number of Movies', are.below(10))

![](https://d13ezvd6yrslxm.cloudfront.net/wp/wp-content/images/C-3PO-See-Threepio_68fe125c-700x350.jpeg)

In [ ]:
![](https://d13ezvd6yrslxm.cloudfront.net/wp/wp-content/images/C-3PO-See-Threepio_68fe125c-700x350.jpeg)

## Movie data ##

In [ ]:
movies = Table.read_table('https://raw.githubusercontent.com/data-8/textbook/gh-pages/data/movies_by_year.csv')
movies.show()

## Line Plots ##

In [ ]:
century_21 = movies.where('Year', are.above(1999))
century_21.plot('Year', 'Number of Movies')
# TODO: Do you see a dip? Why?

In [ ]:
century_21.plot('Year', 'Total Gross')
# TODO: Look at 2009 again--did the studios suffer?

## Bar Charts ##

In [ ]:
# Let's practice using categorical variables! Q: Which pets do we want?
pets = Table().with_columns('Pet', make_array('Tiger', 'Cow', 'Turtle'),
                            'Number', make_array(5, 10, 25))
pets

In [ ]:
pets.barh('Pet')

## Categorical Variables ##

If we want to know which studios produced the 200 top-grossing movies of all time, we need to *count* the top movies produced by each studio.

The studio is a categorical variable. We can use the `.group()` method to create a brand new table with top-movie counts for each studio!

In [ ]:
top_movies = Table.read_table('https://raw.githubusercontent.com/data-8/textbook/gh-pages/data/top_movies.csv')
top_movies.set_format([2, 3], NumberFormatter)
top_movies

In [ ]:
# TODO: Let's find out how many top movies were produced by each studio!
count = top_movies.group('Studio')
count
count.barh('Studio')

In [ ]:
# TODO: Now let's make a bar chart in descending sorted order.
count.sort('count', descending=True).barh('Studio')

## In-class Activity##
Now it's your turn! Use the following Table of data on the majors enrolled in this course to plot a bar chart in descending order of majors.

In [ ]:
students = Table().with_columns(
    'Year', make_array(1, 2, 4, 1, 1, 3, 2, 3, 3, 2, 2, 3, 4, 1, 1, 2, 4, 3, 2, 
                       1, 3, 1, 2, 3, 2, 2, 1, 4),
    'Major', make_array('Psychology', 'Engineering undeclared', 'Studio Arts', 
                        'Mathematics', 'Management and Leadership', 
                        'Studio Arts', 'Animation', 'Political Science', 
                        'Economics', 'Management', 'Mathematics', 
                        'Political Science', 'Recording Arts', 'Mathematics', 
                        'Mathematics', 'Political Science', 'Psychology', 
                        'Info Systems & Bus Analytics', 
                        'Applied Information Mgmt Sys', 'Entrepreneurship', 
                        'Philosophy', 'Electrical Engineering', 'Humanities', 
                        'Applied Information Mgmt Sys', 'Civil Engineering', 
                        'Finance', 'Mathematics', 'Mechanical Engineering')
)
students.show(5)

In [ ]:
# TODO: Plot a bar chart of majors in this 185 class by descending count.
# Hint: You will need to call 3 methods on the students Table--
# one to get the counts by major, one to sort, and one to plot.
students.group('Major').sort('count', descending=True).barh('Major')